extends layout

block content
    h1 tiny.pictures JavaScript library

    ul
    for page in ["lazyload", "lazysizes", "localhost", "reveal", "revealAll"]
        li: a(href=page)= page

    p: img.img-fluid(src=tinyPictures.url('https://tiny.pictures/example1.jpg', {width: 300}))
